{% extends 'base.html' %}
{% load static %}
{% block title %} Standards {% endblock %}


{% block image_block %}
<header class="info-header">
    <div id="page-intro" class="container-fluid d-flex align-items-center justify-content-center ">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-md-10 text-white">
                <!-- heading -->
                <h2 class="display-4 font-weight-bold  p-5 " style="color:#ff5722;">Notifications</h2>
                <div class="row d-flex justify-content-center text-center">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'achievers:currentaffairs_list' %}">Notifications</a></li>

                    </ul>
                </div>

                <!-- divider -->
                <hr style="color:#ff5722;">

                <!-- description -->
                <h4 class="white-text my-4"></h4>
            </div>
</header>
{% endblock %}

{% block content %}
<!-- section 1 for standards-->

<div class="container-fluid d-flex align-items-center justify-content-center m-0 p-0" style="border: rgb(3, 3, 241);">



    <div class="m-4" style="text-align: left; display: block;">
        <ul style="list-style-type:none;">
            {% if object.topic|length > 0 %}
            <li>
                <h6 class="achievers-header"></h6>
                <p class="display-4 achievers-content1" style="text-align: center;">
                    {{object.topic|linebreaks}}</p>
            </li>
            {%endif%}
            {% if object.description|length > 0 %}
            <li>
                <h6 class="achievers-header"></h6>
                <p class="achievers-content1">{{object.description|linebreaks}}</p>
            </li>
            {%endif%}
            {% if object.subtopic|length > 0 %}
            <li>
                <h6 class="achievers-header"></h6>
                <p class="achievers-content1">{{object.subtopic|linebreaks}}</p>
            </li>
            {%endif%}
            {% if object.acivityDes|length > 0 %}
            <li>
                <h6 class="achievers-header"></h6>
                <p class="achievers-content1">{{object.acivityDes|linebreaks}}</p>
            </li>
            {%endif%}

            {% if object.footer|length > 0 %}
            <li>
                <h6 class="achievers-header"></h6>
                <p class="achievers-content1">{{object.footer|linebreaks}}</p>
            </li>
            {%endif%}

        </ul>
    </div>
</div>

{%endblock%}