{% extends 'base.html' %}
{% load static %}
{% block title %} Standards {% endblock %}


{% block image_block %}

{% endblock %}

{% block content %}
<!-- section 1 for standards-->

<section class="text-center">
    <h2 class="m-5 font-weight-bold" style="color:#ff5722;">Examination Analysis</h2>
    <!-- class row for description-->
    <div class="row d-flex justify-content-center mb-4">
        <!-- class column -->

    </div>
    <!-- class row2 for cards -->
    <div class="row">
        {% for exam in examanalysis reversed %}
        <div class="col-md-4 d-flex mb-5 justify-content-center">

            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title" style="color:#6060f8 !important;">{{exam.topic}}</h4>
                    <p class="card-text">{{exam.description|truncatechars:200}}</p>
                    <a href="{% url 'achievers:examanalysis_details' slug=exam.slug %}" class="btn btn-primary"
                        style="background-color:#2000d4;">Read full story</a>

                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</section>


{%endblock%}